RPC_ENDPOINT_TESTNET=<From Infura or Getblock.io or Ganache>
WALLET_ADDRESS_TESTNET=<Wallet that will be used to set tokenURI>
WALLET_PRIVATE_KEY_TESTNET=<Wallet that will be used to set tokenURI>
RPC_ENDPOINT=<From Infura or Getblock.io or Ganache>
WALLET_ADDRESS=<Wallet that will be used to set tokenURI>
WALLET_PRIVATE_KEY=<Wallet that will be used to set tokenURI>